h1 {
    font-weight: 400;
    font-size: 4vw;
    font-family: 'Patrick Hand';
}
h2 {
    font-weight: 400;
    font-size: 2vw;
    font-family: 'Patrick Hand';
}
p {
    font-size: 2vmin;
    font-family: 'Patrick Hand';
}

/* NAV BAR */
/*      */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*      LOGO*/
.logo {
    min-height: 5vh;
    padding-left: 5vw;
}

.horizontal_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.M {
    max-width: 10vw;
    max-height: 10vh;
}

.Manga {
    padding-left: .5vw;
    /* Pochita */
    color: #FF6150;
}

.Nato {
    /* Aqua */
    color: #54D2D2;
}
/*      MENU BAR*/
.menu_bar {
    display:flex;
    align-items: center;
}

.border_box {
    display: flex;
    align-items: center;
    /* Pochita */
    background: #FF6150;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 20px;
    max-height: 6vh;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Home {
    text-decoration: none;
    color: #FFFFFF;
}

#Home:hover {
    background: #FF7B6D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#Recent {
    text-decoration: none;
    color: #FFFFFF;
}

#Recent:hover {
    background: #FF7B6D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#Trending {
    text-decoration: none;
    color: #FFFFFF;
}

#Trending:hover {
    background: #FF7B6D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

ul.horizontal li {
    float: left;
    color: #FFFFFF;

    font-size: 2vw;
    font-family: 'Patrick Hand';
    padding: 1vh 1.5vw;
}
/*      LOGIN REGISTER*/
.border {
    display: flex;
    align-items: center;
    max-height: 6vh;
    /* Navy */
    background: #072448;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 10px;
}

#login {
    text-decoration: none;
    height: 6vh;
    display: flex;
    align-items: center;
}

#login:hover {
    /* Navy05 */
    background: #5A6D85;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register {
    text-decoration: none;
    height: 6vh;
    display: flex;
    align-items: center;
}

#register:hover {
    /* Navy05 */
    background: #5A6D85;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 6vh;
}

.login_register {
    color: #FFFFFF;
    padding: 1vw;
}
/*      NIGHT MODE*/
.padding {
    padding-right: 5vw;
}

.border_night {
    display: flex;
    align-items: center;
    max-height: 6vh;
    /* Aqua */
    background: #54D2D2;
    /* Navy */
    border: 5px solid #072448;
    border-radius: 10px;
}

#night-mode {
    text-decoration: none;
    color: #072448;
    display: flex;
    align-items: center;
}

#night-mode:hover {
    /* Navy05 */
    background: #46AFAF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 6vh;
}

.moon {
    max-height: 5vh;
}

.night_mode {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* TOP CHAPTERS */
.body {
    padding-left: 5vw;
    padding-top: 2vh;
}

.Top_Chapters_Box {
    width: 30vw;
    height: 5vh;
    /* Pochita */
    background: #FF6150;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trending_tag {
    text-decoration: none;
    color: #FFFFFF;
}

.Top_Chapters {
    color: #FFFFFF;
}

.title_chapter_description_box {
    width: 89.7vw;
    height: 60vh;
}

.cover {
    overflow: hidden;
}

.manga_poster_img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    width: 89vw;
    height: 60vh;
    filter: blur(6px);
    opacity: .8;
    z-index: 1;
}


.manga_info {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    opacity: 1;
}

.padding {
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 2;
}

.Border {
    background: #C6F0F0;
    border-radius: 20px;
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2vw;
}

.Title {
    color: #072448;
}

#Chapter {
    width: 12vw;
    height: 7vh;
}
.Chapter {
    color: #072448;
}

#Description {
    width: 50vw;
}

.Description {
    color: #072448;
}

.horizontal_div {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
}

.Horror_Border {
    background: #C6F0F0;
    border-radius: 20px;
    width: 7vw;
}

.Horror {
    color: #072448;
    padding-left: 2vw;
}

.Comedy_Border {
    background: #C6F0F0;
    border-radius: 20px;
    width: 7.5vw;
}

.Comedy {
    color: #072448;
    padding-left: 2vw;
}

.padding_manga_cover {
    padding-top: 5vh;
    z-index: 2;
}

.border_vol_cover {
    z-index: 2;
    background: #C6F0F0;
    border-radius: 20px;
    width: 23vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manga_cover {
    width: 20vw;
    height: 44vh;
}

.padding_right_arrow {
    padding-left: 2vw;
    z-index: 2;
}

.padding_left_arrow {
    z-index: 2;
}

.arrow_box {
    width: 4vw;
    height: 6vh;
    background: #ACB6C2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow {
    width: 3vw;
    height: 5vh;
}

.Search {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    padding-right: 4.7vw;
}

.positioning_search {
    display: flex;
    justify-content: center;
}

.Search_Bar_Box {
    width: 60vw;
    height: 5vh;

    /* Aqua01 */
    background: #DDF6F6;
    /* Navy */
    border: 1px solid #072448;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
}

.search_icon {
    padding-left: 1vw;
    padding-top: .5vh;
    width: 2vw;
    height: 3.8vh;
}

.Search_Manga_box {
    display: flex;
    align-items: center;
    padding-left: 20vw;
    padding-top: 1.5vh;
}

.Search_Manga {
    padding-bottom: 2vh;
}

.positioning_filter {
    display: flex;
    justify-content: center;
    padding-right: 4.25vw;
    padding-top: 2vh;
}

.filter_box {
    /* Aqua01 */
    background: #DDF6F6;
    border: 1px solid #072448;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

#Funnel {
    width: 2vw;
    height: 4vh;
    padding-right: 1vw;
    padding-left: .5vw;
}

#Down-Arrow {
    width: 2vw;
    height: 2vh;
    padding-left: 1vw;
    padding-right: .5vw;
}

.Latest {
    display: flex;
    flex-direction: column;
}

.latest_updates_box {
    /* Pochita */
    background: #FF6150;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25vw;
    height: 5vh;
}

#latest-update-text {
    color: #FFFFFF;
}

.horizontal_divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    padding-bottom: 2vh;
}

.Manga_Card_Border {
    width: 28vw;
    height: 30vh;
    /* Pochita01 */
    background: #FFDFDC;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.covers {
    width: 10vw;
    height: 28vh;
    padding-left: 2vw;
    padding-top: 1vh;
}

.manga_title_chapters {
    display: flex;
    flex-direction: column;

    padding-left: 2vw;
}

.footer_box {
    /* Pochita */
    background: #FF6150;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 20px 20px 0px 0px;
    width: 98vw;
    height: 15vh;
}

.footer_text {
    color: #FFFFFF;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#privacy_policy {
    padding-left: 1vw;
}

#about_us {
    padding-right: 1vw;
}

#email {
    padding-right: 1vw;
}


/*RECENTLY UPDATED PAGE*/
#cat_under_construction {
    display: flex;
    justify-content: center;
}

/*TRENDING PAGE*/
#doge_awkward {
    display: flex;
    justify-content: center;
}

/*LOGIN/REGISTER PAGE*/
#login_meme {
    display: flex;
    justify-content: center;
}

/*NIGHTMODE PAGE*/
#crying_dog {
    display: flex;
    justify-content: center;
}