.Manga_Card_Border {
    width: 29vw;
    height: 30vh;
    /* Pochita01 */
    background: #FFDFDC;
    border-radius: 10px;
    border: 0 solid black;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow .5s;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s, box-shadow .5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.Manga_Card_Border:hover .flip_card_inner {
    box-shadow: 2vw 2vw 2vw rgba(0,0,0,.25);
    transform: rotateY(0);
}

.flip_card_back {
    display: flex;
    flex-direction: row;
    transform: rotateY(180deg);
}

.cover_back {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cover_back_text_container {
    position: absolute;
    left: 2vw;
}

.manga_title_description {
    padding-left: 2vw;
    padding-right: 1vw;
}

.covers {
    width: 10vw;
    height: 28vh;
    padding-left: 1vw;
    padding-top: 1vh;
}

.flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_card_front {
    display: flex;
    flex-direction: row;
}

.manga_title_chapters {
    padding-left: 2vw;
    text-align: left;
}