/* NAV BAR */
/*      */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*      LOGO*/
.logo {
    min-height: 5vh;
    padding-left: 5vw;
}

.horizontal_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.M {
    max-width: 10vw;
    max-height: 10vh;
}

.Manga {
    padding-left: .5vw;
    /* Pochita */
    color: #FF6150;
}

.Nato {
    /* Aqua */
    color: #54D2D2;
}
/*      MENU BAR*/
.menu_bar {
    display:flex;
    align-items: center;
}

.border_box {
    display: flex;
    align-items: center;
    /* Pochita */
    background: #FF6150;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 20px;
    max-height: 6vh;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Home {
    text-decoration: none;
    color: #FFFFFF;
}

#Home:hover {
    background: #FF7B6D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#Recent {
    text-decoration: none;
    color: #FFFFFF;
}

#Recent:hover {
    background: #FF7B6D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#Trending {
    text-decoration: none;
    color: #FFFFFF;
}

#Trending:hover {
    background: #FF7B6D;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

ul.horizontal li {
    float: left;
    color: #FFFFFF;

    font-size: 2vw;
    font-family: 'Patrick Hand', serif;
    padding: 1vh 1.5vw;
}
/*      LOGIN REGISTER*/
.border {
    display: flex;
    align-items: center;
    max-height: 6vh;
    /* Navy */
    background: #072448;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 10px;
}

#login {
    text-decoration: none;
    height: 6vh;
    display: flex;
    align-items: center;
}
#login:hover {
    /* Navy05 */
    background: #5A6D85;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#register {
    text-decoration: none;
    height: 6vh;
    display: flex;
    align-items: center;
}
#register:hover {
    /* Navy05 */
    background: #5A6D85;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 6vh;
}

.login_register {
    color: #FFFFFF;
    padding: 1vw;
}
/*      NIGHT MODE*/
.padding {
    padding-right: 5vw;
}

.border_night {
    display: flex;
    align-items: center;
    max-height: 6vh;
    /* Aqua */
    background: #54D2D2;
    /* Navy */
    border: 5px solid #072448;
    border-radius: 10px;
}

#night-mode {
    text-decoration: none;
    color: #072448;
    display: flex;
    align-items: center;
}
#night-mode:hover {
    /* Navy05 */
    background: #46AFAF;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 6vh;
}

.moon {
    max-height: 5vh;
}

.night_mode {
    display: flex;
    flex-direction: row;
    align-items: center;
}