.title_chapter_description_box {
    width: 89.7vw;
    height: 60vh;
}

.manga_poster_img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    width: 89vw;
    height: 60vh;
    filter: blur(6px);
    opacity: .8;
}


.manga_info {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    opacity: 1;
}

.padding {
    padding-right: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 2;
    width: max-content;
}

.Border {
    background: #C6F0F0;
    border-radius: 20px;
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2vw;
}

.Title {
    color: #072448;
}

#Chapter {
    width: 12vw;
    height: 7vh;
}
.Chapter {
    color: #072448;
}

#Description {
    width: 50vw;
}

.Description {
    color: #072448;
}

.horizontal_div {
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: center;
}

.Horror_Border {
    background: #C6F0F0;
    border-radius: 20px;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Horror {
    color: #072448;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Comedy_Border {
    background: #C6F0F0;
    border-radius: 20px;
    width: 7.5vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Comedy {
    color: #072448;
    display: flex;
    justify-content: center;
    align-content: center;
}

.padding_manga_cover {
    padding-top: 5vh;
    z-index: 2;
}

.border_vol_cover {
    background: #C6F0F0;
    border-radius: 20px;
    width: 23vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manga_cover {
    width: 20vw;
    height: 44vh;
}

.arrow_box {
    width: 4vw;
    height: 6vh;
    background: black;
    border-radius: 50%;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding_right_arrow {
    padding-left: 1.5vw;
}

.arrow {
    width: 3vw;
    height: 5vh;
    color: #D9D9D9;
    transition-property: color, width, height;
    transition-duration: .5s, .5s, .5s;
}

.arrow:hover {
    width: 2.4vw;
    height: 4vh;
    color: white;
}