.container{
    display: grid;
    grid-template-columns: [first] 10% [second] 55% [fourth] 30%;
    grid-gap: 25px;
}

.menu_container{
    display: block;
}

@media screen and (max-width: 600px) {
    .menu_container {
        /* This hides the menu when the device is too small, I'll code in some aspect of a smaller replacement or even a dropdown in its place*/
        display: none;
    }

    .container {
        display: grid;
        /* grid-template-columns: [first] 5% [second] 90% [third] 5%; */
        grid-template-columns: [second] 100%
    }
}



.subcontainer_book{
    display: grid;
    grid-template-rows: [first] 10% [second] 70% [third] 20%;
    grid-template-columns: [colone] 40% [coltwo] 60%;
    border-color: black;
    border-radius: 1px;
    border-style: dotted;
}



.book_pic{
    display: block;
    grid-row-start: second;
    grid-row-end: third;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    grid-column-start: colone;
    grid-column-end: coltwo;
    
}

.book_stars{
    display: grid;
    grid-row-start: first;
    grid-row-end: second;
    max-width: 70%;
    max-height: 60%;
    margin-left: 70px;
}

.book_pic img {
    width: 100%;
height: 100%;
object-fit: cover;
}

.book_text{
    display: grid;
    grid-row: rowthree;
    grid-column: one;
}



.subsubcontainer_book{
    display: grid;

}

.book_text {
    grid-row-start: second;
    grid-row-end: third;

    grid-column-start: coltwo;
    /* grid-column-end: coltwo; */
}
.book_categories {
    grid-row-start: third;
    /* grid-row-end: third; */

    grid-column-start: coltwo;
    /* grid-column-end: coltwo; */
}

.bookmark_button {
    border-style: solid;
    border-color: black;
    color: #072448;
    border-radius: 10px;

    grid-row-start: rowtwo;
    /* grid-row-end: third; */

    grid-column-start: second;
    /* grid-column-end: coltwo; */
    text-align: center;
    /* margin-top: 15%; */
    padding-top: 12%;
}
.status_button {
    border-style: solid;
    border-color: black;
    color: #072448;
    border-radius: 10px;

    grid-row-start: rowtwo;
    /* grid-row-end: third; */

    grid-column-start: fourth;
    /* grid-column-end: coltwo; */
    text-align: center;
    /* margin-top: 15%; */
    padding-top: 12%;
}

.button_grid {
    grid-row-start: third;
    /* grid-row-end: third; */

    grid-column-start: colone;
    /* grid-column-end: coltwo; */
    display: grid;

 
    grid-template-rows: [rowone] 30% [rowtwo] 40% [rowthree] 30%;
    grid-template-columns: [first] 5% [second] 40% [third] 10% [fourth] 40% [fifth] 5%;;
}

.sidebar_manga {

}

@media screen and (max-width: 600px) {
    .sidebar_manga {
        /* This hides the menu when the device is too small, I'll code in some aspect of a smaller replacement or even a dropdown in its place*/
        display: grid;
        grid-column: second;
    }
}

@media screen and (max-width: 600px) {
    .subcontainer_book{
        display: grid;
        grid-template-columns: [one] 100%;
        grid-template-rows: [rowone] 25% [rowtwo] 25% [rowthree] 25% [rowfour] 25% [rowfive] 25% [rowsix] 25%;
    }
    
    .book_pic{
        display: grid;
        grid-row: rowtwo;
        grid-column: one;
        align-items: center;
        align-self: center;
        justify-content: center;
        padding-left: 30%;
    }

    .book_stars{
        display: grid;
        grid-row: rowone;
    }

    .book_text{
        display: grid;
        grid-row-start: rowthree;
        grid-column: one;
        font-size: 14px;
    }

    .book_categories {
       grid-row-start: rowfour;
       grid-column: one;
    }

    .button_grid{
        display: grid;
        grid-row-start: rowfive;
        grid-column: one;
    }
}