.Load_all_images {
    position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.Load_all_images input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .top_bar {
    display: flex;
    justify-content: space-between;
  }

  .left {
    position: relative;
    padding-top: 35px;
  }

  .Next_Prev{
    /* display: inline-block; */
    display: flex;
    
    max-height: 6vh;
    /* Navy */
    font-family: 'Patrick Hand';
  }

  .previous_button {
   
    text-decoration: none;
    height: 3vh;
    display: flex;
    align-items: center;
    background: #072448;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 10px;
    color: white;
    margin-right: 5.5%;
    width: 6vh;
    text-align: center;
    padding-left: 20px;
  }

  .next_button {
    text-decoration: none;
    text-align: center;
    height: 3vh;
    width: 6vh;
    display: flex;
    align-items: center;
    background: #072448;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 10px;
    color: white;
    margin-left: 5.5%;
    padding-left: 20px;
    
    
  }

 #chapter {
    text-align: center;
    justify-content: center;
 }

 #mangapanels {
    text-align: center;
    justify-content: center;
    max-width: 90%;
 }

 #pages{
    justify-content: center;
    text-align: center;
    /* max-width: 80vw; */
    max-width: 100%;
    padding-top: 50px;
 }

 @media screen and (max-width: 600px) {
    .menu_container {
        /* This hides the menu when the device is too small, I'll code in some aspect of a smaller replacement or even a dropdown in its place*/
        display: none;
    }

    #pages{
        padding-top: 75px;
    }

    .next_button{
        padding-left: 0px;
    }

    .previous_button{
        padding-left: 1px;
    }
}