#filter_options {
    background: #FF6150;
    /* Aqua */
    border: 5px solid #54D2D2;
    border-radius: 1vw;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 30vw;
    height: 70vh;
}

#genre-checkbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
}

#Search-Bar {
    width: 55vw;
}

#content-box {
    width: 60vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Flex-Column {
    display: flex;
    flex-direction: column;
}

.Flex-Row {
    display: flex;
    flex-direction: row;
}

.Justify-Center {
    display: flex;
    justify-content: center;
}

.Justify-Start {
    display: flex;
    justify-content: start;
}

.Align-Center {
    display: flex;
    align-items: center;
}

.White-Text {
    color: white;
}

.Pad-Left-2 {
    padding-left: 2vw;
}